.navbar-nav{
    display: flex;
    flex-direction: row-reverse;
}

.owl-carousel .owl-item {
    float: right;
}
.our-team .owl_slider .customNavigation {
    position: absolute;
    top: -32px;
    left: 10px;
}
.side_bar_style_two .category ul li a {
    margin-right: 20px;
}
.title_holder{
    direction: rtl;
    margin-right: 55px;
}
.why_choose_us .right_side {
    float: right;
}
.why_choose_us .left_side {
    float: left;
}
#client_slider{
	float: right;
}
.contact_form_footer input{
    padding-right: 10px
}
.center{
    direction: rtl;
}
.why_choose_us .right_side .text {
    width: 100%;
    direction: rtl;
}
.overlay .container .row,.side_bar_style_two{
    direction: rtl;
}
.blog_post .row{
    flex-direction: row-reverse;
}
.our_goal ,.service-item {
    display: flex;
    direction: rtl;
    flex-direction: row;
    margin-bottom: 25px;
}
.img_holder {
        height: 100%;
}
.our-team.single-inner-page .team_member {
    margin-bottom: 120px;
}
.col-lg-3{
	float: right;
}
.attorney_details .row{
    display: flex;
    direction: rtl;
    flex-direction: row-reverse;
}
.block{
    display :block;
}

@media only screen and (max-width : 700px) {
    .navbar-nav{
      display: flex;
      flex-direction: column;
    }
}