	/*
  	Flaticon icon font: Flaticon
  	Creation date: 26/04/2016 07:13
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
}

.flaticon-briefcase:before { content: "\f100"; }
.flaticon-buildings:before { content: "\f101"; }
.flaticon-buildingsline:before { content: "\f102"; }
.flaticon-business:before { content: "\f103"; }
.flaticon-child:before { content: "\f104"; }
.flaticon-childline:before { content: "\f105"; }
.flaticon-coffee:before { content: "\f106"; }
.flaticon-cup:before { content: "\f107"; }
.flaticon-handcuff:before { content: "\f108"; }
.flaticon-heartfill:before { content: "\f109"; }
.flaticon-heartline:before { content: "\f10a"; }
.flaticon-justiceline:before { content: "\f10b"; }
.flaticon-law:before { content: "\f10c"; }
.flaticon-law2:before { content: "\f10d"; }
.flaticon-map:before { content: "\f10e"; }
.flaticon-message:before { content: "\f10f"; }
.flaticon-message2:before { content: "\f110"; }
.flaticon-money:before { content: "\f111"; }
.flaticon-moneyline:before { content: "\f112"; }
.flaticon-paper:before { content: "\f113"; }
.flaticon-phone:before { content: "\f114"; }
.flaticon-rocekt:before { content: "\f115"; }
.flaticon-share:before { content: "\f116"; }
.flaticon-umbrella:before { content: "\f117"; }
.flaticon-umbrellaline:before { content: "\f118"; }
.flaticon-user:before { content: "\f119"; }
.flaticon-user2:before { content: "\f11a"; }